* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
    min-height: 100vh;
}

.top {
    display: flex;
    margin: auto;
    width: 1800px;
    justify-content: space-between;
    background-color: orange;
}

header {
    display: flex;
    background-color: lightblue;
    height: 100px;
    align-items: center;
}

#intro-container {
    display: flex;
    background-color: blue;
    height: 300px;
    align-items: center;
}

#download-top-header {
    width: 1400px;
    margin: auto;

    /* to be removed */
}

#download-text {
    /* to be removed */
    background-color: pink;
}


.container, #big-text {
    display: flex;
    width: 1800px;
    margin: 0 auto;
}

.background-container-main {
    display: flex;
    align-items: center;
    height: 200px;
}

.background-container-big {
    display: flex;
    align-items: center;
    height: 500px;
    background-color: gray;
}

.background-container-bottom {
    display: flex;
    align-items: center;
    background-color: darkslategray;
    height: 300px;
}

.background-container-footer {
    display: flex;
    align-items: center;
    height: 100px;
    background-color: darkslategray;
}

#reverse-container {
    background-color: gray;
}

/* to be removed */
#big-text>p {
    background-color: green;
}

#bottom {
    justify-content: space-between;
    background-color: aqua;
}